name: Frota Motors Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
    
    steps:
    - name: Checkout código
      uses: actions/checkout@v4
    
    - name: Configuring JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
    
    - name: Build com Maven
      run: |
        mvn clean package -DskipTests
    
    - name: Prepare artifacts
      run: |
        mkdir -p frota-motors-deploy-artifacts
        cp ./target/frota-motors-api-0.0.1-SNAPSHOT.jar frota-motors-deploy-artifacts/
     
    - name: Criar diretório no servidor
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_AWS_SERVER_HOST }}
        username: ${{ secrets.SSH_AWS_SERVER_USER_NAME }}
        key: ${{ secrets.SSH_AWS_SERVER_PRIVATE_KEY }}
        script: |
          mkdir -p /home/ubuntu/frota-motors-deploy-artifacts

    - name: Direct upload to frota-motors-artifacts
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SSH_AWS_SERVER_HOST }}
        username: ${{ secrets.SSH_AWS_SERVER_USER_NAME }}
        key: ${{ secrets.SSH_AWS_SERVER_PRIVATE_KEY }}
        source: "frota-motors-deploy-artifacts/frota-motors-api-0.0.1-SNAPSHOT.jar"
        target: "/home/ubuntu/frota-motors-deploy-artifacts/"

    - name: Parar instância antiga e iniciar nova
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_AWS_SERVER_HOST }}
        username: ${{ secrets.SSH_AWS_SERVER_USER_NAME }}
        key: ${{ secrets.SSH_AWS_SERVER_PRIVATE_KEY }}
        script: |
          echo "Verificando se já existe uma instância rodando..."
          PID=$(ps aux | grep frota-motors-api | grep -v grep | awk '{print $2}')
          if [ ! -z "$PID" ]; then
            echo "Parando frota-motors-api (PID: $PID)"
            kill -9 $PID
          else
            echo "Nenhuma instância em execução encontrada."
          fi
          
          sudo iptables -t nat -A PREROUTING -p tcp --dport 80 -j REDIRECT --to-port 9090
          chmod +x /home/ubuntu/frota-motors-deploy-artifacts/frota-motors-api-0.0.1-SNAPSHOT.jar
          
          nohup java -jar /home/ubuntu/frota-motors-deploy-artifacts/frota-motors-api-0.0.1-SNAPSHOT.jar > /home/ubuntu/frota-motors-deploy-artifacts/frota-motors-api.log 2>&1 &
